# -----------------------------
# Byte-compiled / optimized / DLL files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# -----------------------------
# Data folder - keep folder but ignore contents
# -----------------------------
data/raw/*
!data/raw/.gitkeep

# -----------------------------
# Distribution / packaging
# -----------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# -----------------------------
# Virtual environments
# -----------------------------
venv/
ENV/
env/
.env/

# -----------------------------
# VS Code settings
# -----------------------------
.vscode/

# -----------------------------
# Jupyter Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Python dotenv environment variables
# -----------------------------
.env

# -----------------------------
# Logs - keep folder but ignore contents
# -----------------------------
logs/*
!logs/.gitkeep
*.log

# -----------------------------
# Mac system files
# -----------------------------
.DS_Store

# -----------------------------
# Windows system files
# -----------------------------
Thumbs.db
ehthumbs.db
